---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Meal from "../components/Meal.astro";
import Back from "../components/Back.astro";

export async function getStaticPaths() {
  // Fetch all categories to pre-generate pages
  const categoryRes = await fetch(
    "https://www.themealdb.com/api/json/v1/1/categories.php",
  );
  const categoryData = await categoryRes.json();
  return categoryData.categories.map((category: {strCategory: string}) => ({
    params: { meals: category.strCategory }, // Generates /Beef, /Seafood, etc.
  }));
}

const { meals } = Astro.params;

const response = await fetch(
  `https://www.themealdb.com/api/json/v1/1/filter.php?c=${meals}`,
);
const data = await response.json();
data.meals?.map((meal: Meal)=>(console.log(meal.idMeal)))
interface Meal {
  strMeal: string;
  strMealThumb: string;
  idMeal: string;
}
---

<Layout title="Tasty Venus">
  <div>
    <h1 class="text-3xl font-bold text-center pt-10">
      Welcome to Tasty Venus {meals} Dishes
    </h1>
    <Back />
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-5">
      {
        data.meals?.map((meal: Meal) => (
          <Meal
            key={meal.idMeal}
            name={meal.strMeal}
            picSource={meal.strMealThumb}
            idMeal={meal.idMeal}
          />
        ))
      }
    </div>
    {data.meals?.length > 11 ? <Back /> : null}
  </div>
</Layout>
